

/* Estilos para la tarjeta de login */
.card {
    background-color: white; /* Color de fondo de la tarjeta */
    border-radius: 0.5rem; /* Redondear las esquinas de la tarjeta */
}

.shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra alrededor de la tarjeta */
}

.card-body {
    padding: 1rem; /* Ajusta el padding de la tarjeta */
    text-align: left;
}

.card-header {
    border-bottom: none; /* Quita la línea debajo del encabezado */
}

h3 {
    color: #1f3d7a; /* Texto azul oscuro */
}

.btn-primary {
    background-color: #cc5500; /* Color del botón */
    border-color: #cc5500; /* Color del borde del botón */
}

    .btn-primary:hover {
        background-color: #e65c00; /* Color más oscuro al pasar el mouse */
        border-color: #e65c00;
    }

.text-primary {
    color: #1f3d7a !important; /* Azul oscuro en texto */
}

/* Estilos para el footer de la tarjeta */
.card-footer {
    background-color: #f0f0f0;
}


.card img {
    height: auto; /* Asegura que la imagen se ajuste */
    max-height: 200px; /* Ajusta la altura máxima de la imagen lateral */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción sin distorsionarse */
}
