/* Fondo de la página de login */
.login-background {
    background-color: rgb(31,61,119) ; /* Color de fondo claro */
    /*background-image: url('../images/background_image.jpg');*/ /* Imagen de fondo si es necesario */
    background-size: cover;
    background-position: center;
}

/* Estilos para la tarjeta de login */
.card {
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden;
}

.card-header {
    background-color: #ffffff; /* Fondo blanco en el encabezado */
}

h3 {
    color: #1f3d7a; /* Texto azul oscuro */
}

.btn-primary {
    background-color: #ff6700; /* Botón color naranja */
    border-color: #ff6700;
}

    .btn-primary:hover {
        background-color: #e65c00; /* Color más oscuro al pasar el mouse */
        border-color: #e65c00;
    }

.text-primary {
    color: #1f3d7a !important; /* Azul oscuro en texto */
}

/* Estilos para el footer de la tarjeta */
.card-footer {
    background-color: #f0f0f0;
}

/*.side-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    height: 100%;*/ /* Asegura que el contenedor ocupe toda la altura */
/*}

    .side-image-container img {
        max-width: 90%;*/ /* Ajusta el ancho máximo de la imagen */
        /*height: auto;
        object-fit: cover;
        min-height: 100%;*/ /* Asegura que la imagen tenga un mínimo de altura igual a la tarjeta de inicio de sesión */
    /*}*/

.card-header img {
    max-width: 100px; /* Ajusta el ancho del logo */
    height: auto; /* Mantiene la proporción */
}

.card img {
    height: auto; /* Asegura que la imagen se ajuste */
    max-height: 300px; /* Ajusta la altura máxima de la imagen lateral */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción sin distorsionarse */
}

