/* Fondo de la página de login */
.login-background {
    background-color: #929292 ; /* Color de fondo claro */
    /*background-image: url('../images/background_image.jpg');*/ /* Imagen de fondo si es necesario */
/*    background-size: cover;*/
    background-position: bottom;
}

/* Estilos para la tarjeta de login */
.card {
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden;
}

.card-body {
    padding: 1rem; /* Ajusta el padding de la tarjeta */
}

.card-header {
    border-bottom: none; /* Quita la línea debajo del encabezado */
}

h3 {
    color: #1f3d7a; /* Texto azul oscuro */
}

.btn-primary {
    background-color: #007bff; /* Color del botón */
    border-color: #007bff; /* Color del borde del botón */
}

    .btn-primary:hover {
        background-color: #e65c00; /* Color más oscuro al pasar el mouse */
        border-color: #e65c00;
    }

.text-primary {
    color: #1f3d7a !important; /* Azul oscuro en texto */
}

/* Estilos para el footer de la tarjeta */
.card-footer {
    background-color: #f0f0f0;
}


.card img {
    height: auto; /* Asegura que la imagen se ajuste */
    max-height: 200px; /* Ajusta la altura máxima de la imagen lateral */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción sin distorsionarse */
}
